#writeExtras,
#styleModifiers
{
    position: fixed;
}

.hidden
{
    display: none;
}

.writeheader
{
    background-color: red;
}

.block:hover
{
    outline: white 1px solid;
    box-shadow: black 1px 1px 5px;
}